---
import Hobbies from "./Hobbies.astro";
import TimelineCard from "./TimelineCard.astro";

interface Props {
  img: string;
  education: {
    title: string;
    time: string;
    organization: string;
    description: string;
  }[];
  experience: {
    title: string;
    organization: string;
    time: string;
    description: string;
  }[];
}

const { img, education, experience } = Astro.props as Props;
---

<section class="container flex justify-center mx-auto py-8 w-full" id="About">
  <div class="px-4 py-8 max-w-4xl">
    <h1 class="text-4xl font-bold mb-6">About me</h1>
    <div
      class="flex flex-wrap-reverse justify-between w-full gap-8 space-y-4 md:space-y-0"
    >
      <div class="mockup-code break-words flex-1">
        <pre data-prefix="$" class="text-success"><code>whoami</code></pre>
        <code>Pham Ba Thang</code>
        <pre
          data-prefix="$"
          class="text-success"><code>cat info.txt</code></pre>
        <code>Hi, I am Pham Ba Thang.</code>
        <code>I study Computer Science at NUS.</code>
        <pre
          data-prefix="$"
          class="text-success"><code>less interest.txt</code></pre>
        <code
          >I'm interested in creating applications that are aesthetically
          pleasing and solve real problems. I have experience in frontend
          development with React and backend development with Node.js.</code
        >
        <pre><code>:q</code></pre>
        <pre
          data-prefix="$"
          class=""><code>Thank you and have a nice day!<span class="blinking">_</span></code></pre>
      </div>
      <div class="avatar aspect-auto flex-0">
        <div class="w-60 max-w-md rounded-lg">
          <img src={img} alt="profile-img" />
        </div>
      </div>
    </div>
    <div
      class="md:flex md:justify-between md:gap-6 md:content-start md:space-y-0 space-y-8"
    >
      <TimelineCard title="Education" timeline={education} />
      <TimelineCard title="Experience" timeline={experience} />
    </div>
    <Hobbies />
  </div>
</section>

<style>
  .avatar {
    box-shadow: 14px 14px 0 hsl(var(--a), 0), -14px -14px 0 hsl(var(--p), 0);
    transition: all 0.3s ease;
  }
  .avatar:hover {
    box-shadow: 14px 14px 0 hsl(var(--a)), -14px -14px 0 hsl(var(--p));
    transition: all 0.3s ease;
  }
  .blinking {
    animation: 1s blink step-end infinite;
  }

  @keyframes blink {
    from,
    to {
      color: transparent;
    }
    50% {
      color: hsl(var(--nc));
    }
  }

  code {
    padding-left: 2ch;
    padding-right: 2ch;
    display: block;
  }

  pre code {
    padding-left: 0;
    padding-right: 0;
    display: inline;
  }
</style>
