---
export interface Props {
  title?: string;
  imgSrc?: string;
  id?: string;
  link?: string;
}

const { title = "Lorem ipsum dolor", imgSrc, id, link } = Astro.props as Props;
---

<div
  class="carousel-item relative h-[200px] sm:h-[320px] md:h-[400px] lg:h-[480px]"
  id={id}
>
  <img src={imgSrc} class="rounded-box" />
  <div
    class="absolute top-0 left-0 w-full h-full bg-gradient-to-b from-transparent to-black flex flex-col justify-end p-4"
  >
    <a
      href={link}
      target="_blank"
      rel="noreferrer"
      class="text-white hover:-translate-y-1 hover:text-accent duration-200"
    >
      <h2 class="text-lg sm:text-2xl font-bold">{title}</h2>
      <div
        class="text-sm sm:text-base opacity-80 break-words max-w-xs sm:max-w-lg"
      >
        <slot />
      </div>
    </a>
  </div>
</div>
