---
export interface Props {
  title?: string;
  imgSrc?: string;
  id?: string;
  link?: string;
}

const { title = "Lorem ipsum dolor", imgSrc, id, link } = Astro.props as Props;
---

<div
  class="relative carousel-slide inline-block whitespace-normal rounded-box ml-4 aspect-video bg-cover bg-center snap-center w-10/12"
  id={id}
  style={`background-image: url(${imgSrc});`}
>
  <div
    class="absolute top-0 left-0 w-full h-full rounded-box bg-gradient-to-b from-transparent to-black flex flex-col justify-end p-4"
  >
    <a
      href={link}
      target="_blank"
      rel="noreferrer"
      class="text-white hover:-translate-y-1 hover:text-accent duration-200 max-w-fit"
    >
      <h2 class="text-md sm:text-2xl font-bold">{title}</h2>
      <div
        class="text-xs sm:text-base opacity-80 break-words max-w-xs sm:max-w-lg"
      >
        <slot />
      </div>
    </a>
  </div>
</div>
