---
interface Props {
  img: string;
  resume: string;
}

const { img, resume } = Astro.props as Props;
---

<div
  class="hero min-h-screen bg-cover bg-fixed relative"
  style={`background-image: url(${img});`}
>
  <div class="hero-overlay bg-opacity-60"></div>
  <div class="hero-content text-center text-neutral-content">
    <code class="max-w-2xl">
      <div class="mb-4 text-2xl sm:text-4xl lg:text-5xl">Hello world!</div>
      <div class="mb-2 text-2xl sm:text-4xl lg:text-5xl">I am Thang Pham,</div>
      <div class="mb-8 text-2xl sm:text-4xl lg:text-5xl">
        a <span id="typewriter"></span>
      </div>
      <a href={resume} target="_blank" rel="noreferrer" role="button">
        <button
          class="btn btn-primary group pl-4 pr-[4px] items-center gap-1 font-[Poppins]"
        >
          <span>My resume</span>
          <i
            class="ti ti-arrow-narrow-right text-2xl -translate-y-[1px] group-hover:translate-x-4 transition-all duration-300 ease-in-out"
          ></i></button
        >
      </a>
    </code>
  </div>
  <a
    class="absolute bottom-0 pt-2 pb-4 w-full group flex justify-center"
    href="#About"
  >
    <i
      class="ti ti-chevron-down text-2xl group-hover:translate-y-2 group-hover:text-accent duration-300"
    ></i>
  </a>
</div>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap");
  code {
    font-family: "Fira Code", monospace;
  }
</style>

<script>
  import Typewriter from "typewriter-effect/dist/core";

  new Typewriter("#typewriter", {
    strings: ["Software Engineer", "CS student", "Vietnamese"],
    autoStart: true,
    loop: true,
    cursor: "_",
  });
</script>
