---
const navLinks = [
  { name: "About", href: "#About" },
  { name: "Skills", href: "#Skills" },
  { name: "Projects", href: "#Projects" },
  { name: "Contact", href: "#Contact" },
];
---

<nav class="navbar fixed top-0 z-30 h-16 w-full text-primary-content">
  <div class="navbar-start">
    <div class="dropdown">
      <label tabindex="0" class="btn btn-ghost md:hidden">
        <i class={`ti ti-menu-2 text-2xl`}></i>
      </label>
      <ul tabindex="0" class="menu dropdown-content mt-3 p-2 rounded-box w-52">
        {
          navLinks.map((nl) => (
            <li class="navlink">
              <div data-href={nl.href}>{nl.name}</div>
            </li>
          ))
        }
      </ul>
    </div>
    <div
      class="btn btn-ghost normal-case text-xl"
      onclick="window.scrollTo({top: 0, behavior: 'smooth'});"
    >
      <i class={`ti ti-code-dots text-2xl`}></i>

      <span class="ml-2">pbthang</span>
    </div>
  </div>
  <div class="navbar-center hidden md:flex">
    <ul class="menu menu-horizontal rounded-box">
      {
        navLinks.map((nl) => (
          <li class="navlink">
            <div data-href={nl.href}>{nl.name}</div>
          </li>
        ))
      }
    </ul>
  </div>
  <div class="navbar-end">
    <!-- <a class="btn">Get started</a> -->
  </div>
</nav>

<style>
  nav {
    transition: background-color 0.5s ease !important;
    background: transparent;
  }

  .menu {
    background: transparent;
  }

  .menu.blurred {
    backdrop-filter: blur(64px);
    --tw-bg-opacity: 1;
    --tw-bg-opacity: 0.9;
    background-color: hsl(var(--p) / var(--tw-bg-opacity));
  }

  nav.blurred {
    backdrop-filter: blur(16px);
    --tw-bg-opacity: 1;
    --tw-bg-opacity: 0.9;
    background-color: hsl(var(--p) / var(--tw-bg-opacity));
  }
</style>

<script>
  const scrollToId = (id) => {
    const el = document.querySelector(id);
    const nav = document.querySelector("nav");
    const position = el.offsetTop - nav.offsetHeight;
    window.scrollTo({ top: position, behavior: "smooth" });
  };
  const navLinkEls = document.querySelectorAll(".navlink");
  navLinkEls.forEach((nl) => {
    nl.addEventListener("click", (e) => {
      const href = nl.querySelector("div").dataset.href;
      scrollToId(href);
    });
  });

  document.addEventListener("scroll", () => {
    const nav = document.querySelector("nav");
    const menu = document.querySelector(".menu");
    const scrollPosition = window.scrollY;
    if (scrollPosition > 100) {
      nav.classList.add("blurred");
      menu.classList.add("blurred");
    } else {
      nav.classList.remove("blurred");
      menu.classList.remove("blurred");
    }
  });
</script>
