---
import CarouselCard from "./CarouselCard.astro";

interface Props {
  projects: {
    title: string;
    description: string;
    imgSrc: string;
    link: string;
  }[];
}

const { projects } = Astro.props as Props;
---

<section
  class="container flex justify-center mx-auto py-8 w-full"
  id="Projects"
>
  <div class="px-4 py-8">
    <h1 class="text-4xl font-bold mb-6 ml-4 max-w-fit">My projects</h1>
    <div class="w-full max-w-8xl">
      <div
        class="slider whitespace-nowrap overflow-scroll overflow-y-hidden scrollbar-hide snap-mandatory snap-x w-[340px] sm:w-[600px] md:w-[720px] lg:w-[960px] xl:w-[1100px]"
      >
        {
          projects.map((project) => (
            <CarouselCard
              id={`project-${project.title.replace(/\s+/g, "")}`}
              title={project.title}
              imgSrc={project.imgSrc}
              link={project.link}
            >
              {project.description}
            </CarouselCard>
          ))
        }
      </div>
      <!-- <div class="btn-group flex gap-2 justify-end w-full mt-4">
        <button class="left-btn btn-square btn-primary btn-sm rounded"
          >&lt;</button
        >
        <button class="right-btn btn-square btn-primary btn-sm rounded"
          >&gt;</button
        >
      </div> -->
      <div class="w-full flex justify-center gap-1 mt-2">
        {
          projects.map((p, idx) => (
            <a href={`#project-${p.title.replace(/\s+/g, "")}`}>
              <button class="btn-square btn-primary bg-primary btn-xs rounded">
                {idx + 1}
              </button>
            </a>
          ))
        }
      </div>
    </div>
  </div>
</section>

<style>
  /* .section {
    scroll-margin-top: 100px;
  } */
  .slider {
    scroll-behavior: smooth;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
</style>

<script>
  // import $ from "jquery";

  // const carousel = $(".slider");
  // const btnLeft = $(".btn-group .left-btn");
  // const btnRight = $(".btn-group .right-btn");
  // const slideWidth = $(".slider .carousel-slide").width();

  // btnLeft.click(function () {
  //   console.log("clicked");
  //   carousel.animate(
  //     {
  //       scrollLeft: $("#project-OpenRealm").offset().left,
  //     },
  //     "slow"
  //   );
  // });

  // btnRight.click(function () {});
</script>
