---
export interface Props {
  title?: string;
  icon?: string;
  color?: string;
}

const { title = "Lorem ipsum dolor", icon, color } = Astro.props as Props;
---

<div
  class="group mockup-window overflow-hidden bg-base-300 flex shadow-xl w-full md:w-full md:max-w-4xl max-w-md"
>
  <div class="px-4 py-16 bg-base-200">
    <div class="relative z-10">
      <h2 class="text-2xl font-bold">{title}</h2>
      <p class="mt-4"><slot /></p>
    </div>
    <i
      class={`ti ti-${icon} absolute top-8 -right-16 text-current text-[14rem] opacity-40`}
    ></i>
    <!-- <div class="card-actions justify-end"> -->
    <!-- <button class="btn btn-primary">Listen</button> -->
  </div>
</div>

<style define:vars={{ color }}>
  .ti {
    font-size: 14rem;
    opacity: 0.4;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
  }
  .mockup-window:hover .ti {
    color: var(--color);
    transform: translateX(-42px);
  }
</style>
