---
import SkillCard from "./SkillCard.astro";
interface Props {
  skills: {
    title: string;
    icon: string;
    content: string[];
    color: string;
  }[];
}
const { skills }: Props = Astro.props;
---

<section class="py-8 bg-primary w-full" id="Skills">
  <div class="flex justify-center w-full">
    <div class="px-4 py-8 w-full max-w-md md:max-w-4xl">
      <h1 class="text-4xl font-bold mb-6 text-primary-content">Skills</h1>
      <div class="grid grid-cols-1 md:grid-cols-2 grid-flow-row gap-8">
        {
          skills.map((skill) => (
            <SkillCard
              title={skill.title}
              icon={skill.icon}
              color={skill.color}
            >
              <ul>
                {skill.content.map((content) => (
                  <li class="">{content}</li>
                ))}
              </ul>
            </SkillCard>
          ))
        }
      </div>
    </div>
  </div>
</section>
