---
import Loader from "../components/Loader.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";

export interface Props {
  title?: string;
  contacts?: {
    name: string;
    link: string;
    icon: string;
  }[];
  photo?: string;
}

const {
  title = "Thang Pham's Portfolio",
  contacts,
  photo,
} = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@tabler/icons@latest/iconfont/tabler-icons.min.css"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta
      name="description"
      content="Portfolio - Thang Pham - a Software Engineer"
    />
    <meta name="robots" content="index, follow" />

    <meta property="og:title" content="Pham Ba Thang - Portfolio" />
    <meta property="og:url" content="https://pbthang.netlify.app/" />
    <meta property="og:image" content={photo} />
    <meta property="og:type" content="website" />
    <meta
      property="og:description"
      content="Hi, I am Thang Pham, a Software Engineer and a Computer Science student at NUS"
    />
  </head><body>
    <div
      id="preloader"
      class="fixed z-50 bg-primary w-screen h-screen flex justify-center items-center duration-200"
    >
      <Loader />
    </div>
    <div class="page opacity-0">
      <Navbar />
      <slot />
      <Footer contacts={contacts} />
    </div>
  </body>
</html>

<style is:global>
  @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");

  html {
    scroll-padding-top: 100px;
    scroll-behavior: smooth;
    font-family: Poppins, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
      Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
      sans-serif;
  }

  code {
    font-family: "Source Code Pro", monospace;
  }

  .mockup-window::before,
  .mockup-code::before {
    transition: all 0.1s ease-in-out;
  }

  .mockup-window:hover.mockup-window::before,
  .mockup-code:hover.mockup-code::before {
    box-shadow: 1.4em 0 0 0 #ff605c, 2.8em 0 0 0 #ffbd44, 4.2em 0 0 0 #00ca4e;
  }

  h1 {
    transition: all 0.2s ease-in-out;
  }
  h1:hover {
    letter-spacing: 4px;
  }
</style>

<script>
  window.addEventListener("load", () => {
    const loader = document.querySelector("#preloader");
    const page = document.querySelector(".page");
    const timeout1 = setTimeout(() => {
      page.classList.remove("opacity-0");
      loader.classList.add("opacity-0");
    }, 400);
    const timeout2 = setTimeout(() => {
      loader.classList.add("hidden");
    }, 600);

    return () => {
      clearTimeout(timeout1);
      clearTimeout(timeout2);
    };
  });
</script>
